<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--方法一、构造器实例化bean，有参构造器实例化bean-->
    <bean name="tell" class="Tell">
        <constructor-arg index="0" value="ahha"/>
        <constructor-arg index="1" value="2"/>
    </bean>

    <!--方法二、静态工厂方式实例化Bean-->

</beans>